@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	font-size:12px;
	}
img{
	border:none;
	}
a{
	text-decoration:none;
	}
ul li{
	list-style:none;
	}
.clearfix{
	clear:both;
	}
.fl{
	float:left;
	}
.fr{
	float:right;
	}
.contain{
	width:1200px;
	margin:0 auto;
	}
.title{
	width:100%;
	height:40px;
	line-height:40px;
	background:#f5f5f5;
	font-size:18px;
	padding-left:20px;
	border-radius:5px;
	}
/*----------------------------------以上是头部样式！-----------------------------------------------*/
.add{
	width:100%;
	margin-top:20px;
	padding-left:70px;
	}
.add ul li{
	width:100%;
	/*height:55px;*/
	/*line-height:55px;*/
	list-style:url(images/liststyle_03.png);
	}
.add span{
	
	}

.add ul .li-T{
	/*height:110px;*/
	}
.add ul .li-T .left{
	width:130px;
	}
.add ul li .left{
	width:130px;
	}
.add ul .li-T .right{
	width:990px;
	}
.add ul .li-T .right img{
	margin-right:10px;
	float:left;
	display:block;
	}
.add ul .li-T .right .TX span{
	width:22px;
	height:22px;
	float:left;
	display:inline-block;
	background:url(../img/icon_04.png) no-repeat -11px 0;
	margin-right:10px;
	}
.add ul .li-T .right .TX a{
	float:left;
	display:block;
	text-decoration:underline;
	color:#06C;
	}
.add ul li .right .P,.add ul .li-T .right .P{
	width:250px;
	height:40px;
	line-height:40px;
	padding-left:5px;
	border:1px #e6e6e6 solid;
	color:#999999;
	}
.add ul li .right .P span,.add ul .li-T .right .P span{
	width:26px;
	height:21px;
	background:url(images/datatime.png) center ccenter;
	padding:2px 5px;
	float:right;
	display:block;
	}
.add ul li .right .P-T{
	width:500px;
	height:60px;
	padding-left:5px;
	border:1px #e6e6e6 solid;
	color:#999999;
	}
.add ul li .right .P-S{
	width:300px;
	height:40px;
	line-height:40px;
	border:none;
	color:#666666;
	font-weight:bold;
	font-size:16px;
	}
.add ul li .right .P-S span{
	margin-left:20px;
	color:#999999;
	font-weight:normal;
	font-size:12px;
	}
.add ul .TT{
	list-style:none;
	}
.add ul .TTT{
	/*height:80px;*/
	}
/*----------------------------------以上上边部分样式！-----------------------------------------------*/
.bottom{
	width:100%px;
	margin:0 auto;
	margin-top:20px;
	/*min-height:300px;*/
	border-top:2px #e6e6e6 dashed;
	padding-left:70px;
	
	}
.bottom ul li{
	list-style:url(images/liststyle_03.png);
	/*height:60px;*/
	}
.bottom ul li .left{
	width:130px;
	}
.SF-mas{
	width:760px;
	margin-top:20px;
	
	}
.SF-mas p{
	width:700px;
	height:40px;
	line-height:40px;
	padding-left:5px;
	border:1px #e6e6e6 solid;
	color:#999999;
	}
.SF-mas span{
	width:22px;
	height:22px;
	float:left;
	display:block;
	background:url(../img/icon_04.png) no-repeat -11px 0;
	margin-right:10px;
	}
.SF-mas a{
	float:left;
	display:block;
	text-decoration:underline;
	color:#06C;
	}
.mar{
	margin-top:-10px;
	}

	
	
	
	
	
	
table{}
table tr td .wid{
	/*width:130px;*/
	margin-top:10px;
	}
/**table tr td .inp-T{
	width:250px;
	height:25px;
	padding:5px;
	background:#ffffff;
	color:#999999; 
	border:1px #e6e6e6 solid;
	}**/
.add table tr{
	height: 46px;
}
.add table tr .t1{
	text-align: right;
}
table tr td .sel{
	width:120px;
	height:30px;
	padding:5px;
	background:#ffffff;
	border:1px #e6e6e6 solid;
	float:left;
	margin-right:10px;
	}
/**
table tr td .inp-TT{
	width:250px;
	height:25px;
	background:#ffffff;
	color:#999999;
	padding:5px; 
	border:1px #e6e6e6 solid;
	background:url(images/datatime.png) no-repeat right center;
	}**/
table tr td .inp-QM{
	width:450px;
	height:60px;
	background:#ffffff;
	color:#999999; 
	border:1px #e6e6e6 solid;
	padding:5px;
	}
table tr td span{
	width:8px;
	height:8px;
	display:inline-block;
	background:url(images/liststyle_03.png) no-repeat;
	color: red;
	}
table tr td p .spa{
	display:inline;}
table tr td p span{
	width:700px;
	color:#666666;
	font-size:16px;
	font-weight:bold;
	background:none;
	}
table tr td p .sp{
	color:#29ab8f;
	font-size:14px;
	font-weight:bold;
	}
table tr td img{
	display:inline-block;
	}
table tr td .TX{
	}	
table tr td .TX span{
	width:22px;
	height:22px;
	float:left;
	display:inline-block;
	background:url(../img/icon_04.png) no-repeat -11px 0;
	margin-right:10px;
	}
.inp{
	margin-left:250px;
	width:150px;
	height:35px;
	background:#29ab8f;
	border:nono;
	border-style:hidden;
	}